/* General Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom, rgb(114, 0, 0), rgba(190, 51, 51, 0.856), rgb(63, 44, 44));
    overflow: visible; /* Ensure scrolling is prevented */
  }
  
  /* Horizontal Container */
  .card-container-horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    overflow: visible; /* Ensure scrolling is prevented */
  }
  
  /* Card Styles */
  .card {
    width: calc(50% - 20px); /* Two cards per row with 20px gap */
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(220, 220, 220, 0.808), rgba(186, 160, 160, 0.726));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    height: 355px; /* Adjust height as necessary */
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
  }
  
  .card .card-body {
    padding: 10px;
  }
  
  /* h5 Background Colors */
  .h5-recognition {
    background-color: #007bff; /* Blue */
  }
  
  .h5-milestone {
    background-color: #ff0000; /* Red */
  }
  
  .h5-happy-birthday {
    background-color: #30aa00; /* Green */
  }
  
  /* Layout Styles */
  .layout {
    display: flex;
  }
  
  .layout-text-right-image-left,
  .layout-text-left-image-right,
  .layout-text-bottom-image-top {
    display: flex;
  }
  
  .layout-text-right-image-left {
    flex-direction: row-reverse; /* Text on right side, image on left side */
  }
  
  .layout-text-left-image-right {
    flex-direction: row; /* Text on left side, image on right side */
  }
  
  .layout-text-bottom-image-top {
    flex-direction: column-reverse; /* Text on bottom, image on top */
  }
  
  /* Base styles for cards */
  .card h2,
  .card h4,
  .card h5,
  .card p {
    margin: 5px;
    padding: 10px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(220, 220, 220, 0.808), rgba(186, 160, 160, 0.726));
    border-radius: 20px;
    text-align: center;
  }
  
  /* Common styles for all speech bubbles */
  .speech {
    font-size: 14px;
    color: #fff;
    background: #464242;
    padding: 10px;
    border-radius: 20px;
    max-width: 400px;
    position: relative;
    margin: 10px auto;
    text-align: center;
  }
  
  .speech::after {
    display: block;
    width: 0;
    content: "";
    border: 12px solid transparent;
    position: absolute;
  }
  
  .speech.up::after {
    top: -12px;
    left: calc(50% - 12px);
    border-bottom-color: #000;
    border-top: 0;
  }
  
  .off-screen{
    display: none;
  }
  
  /* Adjustments for smaller screens */
  @media (max-width: 1280px) {
    
    .card {
      height: 355px; /* Adjust height as necessary */
    }
  
    .layout-text-left-image-right img,
    .layout-text-right-image-left img {
      width: 100px;
      height: 100px;
    }
  
    .layout-text-bottom-image-top img {
      width: 100px;
      height: 100px;
      margin-bottom: 25px;
    }
  }
  
  /* Adjustments for larger screens */
  @media (min-width: 1281px) {
    .card {
      height: 405px; /* Adjust height as necessary */
    }
  
    .layout-text-left-image-right img,
    .layout-text-right-image-left img {
      width: 150px;
      height: 150px;
    }
  
    .layout-text-bottom-image-top img {
      width: 150px;
      height: 150px;
      margin-bottom: 25px;
    }
  }
  